body {
    padding: 0;
    margin: 0;
    background-color: #333333 !important;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif !important;
}

h1, h2, h3, h4, h5, p, li {
    color: white;
    font-weight: 100 !important;
}

h1 {
    font-size: 12vw !important;
}

h2 {
    font-size: 5vw !important;
}

h3, li {
    font-size: calc(10px + 2vmin) !important;
}

a {
    color: white !important;
}

.section {
    margin-top: 100px;
}

.verticalAlign {
    margin-top: auto;
    margin-bottom: auto;
}

.react-icons {
    vertical-align: middle;
}

.header {
    margin: 15px 0px;
    padding: 50px 0px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: #333333;
}

.card-deck {
    margin-bottom: 50px;
}

.card {
    background-color: #333333 !important;
    border-color: white !important;
    color: white !important;
    font-size: 18px;
    font-weight: 300;
}

.jumbotron {
    background-color: #444 !important;
    border-radius: 20px !important;
}

.iconButton {
    background: transparent !important;
    border: none !important;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 7.5px;
	height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #FFFFFF;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #aaaaaa; 
}